<div class="breadcrumbs">
    <div class="container">
        <a href="./">Главная</a>
        <a href="./dashboard.html">Мой кабинет</a>
        <a href="javascript:void(0);">Корзина</a>
    </div>
</div>
<div class="container content page_title">
    <h1>Корзина</h1>
</div>
<div class="container">
    <div class="full_page cart_page">
        <div class="cart_info_bar">
            Чтобы узнать актуальную цену по выбранным позициям
            <a href="./dashboard.html">Авторизируйтесь</a>,
            <a href="#login-popup" class="show-popup" data-effect="mfp-zoom-in">Отправьте запрос</a>
            или позвоните по телефонам
            <a href="tel:+380445319645" class="phone">(044) 531 96 45</a>,
            <a href="tel:+380503848414" class="phone">(050) 384 84 14</a>
        </div>
        <ul class="cart_items">
            <li>
                <i class="remove_item icon-close"></i>
                <a href="./product.html" class="image">
                    <img src="img/product/5.jpg" alt="">
                </a>
                <a href="./product.html" class="description">
                    <span class="name">Коробка распределительная гипсокартон KOPOS KO 97/L</span>
                    <span class="code">Артикул: 72380</span>
                </a>
                <div class="counter">
                    <i class="icon-minus"></i>
                    <div class="value" contenteditable="true">1</div>
                    <i class="icon-plus"></i>
                </div>
            </li>
            <li>
                <i class="remove_item icon-close"></i>
                <a href="./product.html" class="image">
                    <img src="img/demo/c1.jpg" alt="">
                </a>
                <a href="./product.html" class="description">
                    <span class="name">LED лампа A60 11W E27 4100K MAXUS</span>
                    <span class="code">Артикул: 72380</span>
                </a>
                <div class="counter">
                    <i class="icon-minus"></i>
                    <div class="value" contenteditable="true">4</div>
                    <i class="icon-plus"></i>
                </div>
            </li>
            <li>
                <i class="remove_item icon-close"></i>
                <a href="./product.html" class="image">
                    <img src="img/demo/c2.jpg" alt="">
                </a>
                <a href="./product.html" class="description">
                    <span class="name">Бокс КМПн 2/2 на 2 мод. прозр. крышка навесной 140х53х83 IP30</span>
                    <span class="code">Артикул: 72380</span>
                </a>
                <div class="counter">
                    <i class="icon-minus"></i>
                    <div class="value" contenteditable="true">2</div>
                    <i class="icon-plus"></i>
                </div>
            </li>
        </ul>
        <div class="cart_actions">
            <div class="btn btn-lg btn-success">Продолжить выбор продукции</div>
            <div class="btn btn-lg btn-warning">Сформировать запрос</div>
        </div>
    </div>
</div>