<div class="hero_slider slider-default">
  <div class="slide">
    <div class="container" style="background-image: url(img/slider/hero/kabel.png)">
      <h3>Кабель и електротехника</h3>
      <p>Карат является производителем кабеля</p>
      <a href="#" class="btn btn-lg btn-warning">Узнать об акции</a>
    </div>
  </div>
  <div class="slide">
    <div class="container" style="background-image: url(img/slider/hero/lamp.png)">
      <h3>Светодиодные лампы</h3>
      <p>Новые модели по выгодным ценам для вас</p>
      <a href="#" class="btn btn-lg btn-warning">Узнать об акции</a>
    </div>
  </div>
</div>

<div class="main_tails">
  <div class="container">
    <div class="promo_tails grid">
      <a href="#cart-popup" class="o-half tail padding show-popup" data-effect="mfp-zoom-in">
        <div class="sticker bg-orange">Скидка</div>
        <div class="image">
          <img src="img/demo/promo_1.png" alt="">
        </div>
        <div class="description">
          <div class="title">Провод гибкий со скрученными медными жилами с ПВХ изоляцией и оболочкой</div>
          <span class="btn-warning btn">Оформить заказ</span>
        </div>
      </a>
      <a href="#cart-popup" class="o-half tail padding show-popup" data-effect="mfp-zoom-in">
        <div class="sticker bg-orange">Скидка</div>
        <div class="image">
          <img src="img/demo/promo_2.png" alt="">
        </div>
        <div class="description">
          <div class="title">LED лампа рефлекторная А50 9W E14 2700K</div>
          <div class="subtitle">Артикул: 73128</div>
          <span class="btn-warning btn">Оформить заказ</span>
        </div>
      </a>
    </div>
    <div class="category_tails grid">
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/1.png)">
      <span class="title">
        Кабель и провод
      </span>
      </a>
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/2.png)">
      <span class="title">
       Системы для прокладки кабеля
      </span>
      </a>
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/3.png)">
      <span class="title">
        Светотехника
      </span>
      </a>
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/4.png)">
      <span class="title">
        Автоматика, защита, учет
      </span>
      </a>
      <hr class="divider">
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/5.png)">
      <span class="title">
        Электрощитовое оборудование
      </span>
      </a>
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/6.png)">
      <span class="title">
        Электрофурнитура
      </span>
      </a>
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/7.png)">
      <span class="title">
        Изделия для монтажа электропроводки, инструмент
      </span>
      </a>
      <a href="./catalog.html" class="o-fourth tail padding" style="background-image: url(img/category/main_tails/8.png)">
      <span class="title">
        Системы заземления и молниезащиты
      </span>
      </a>
    </div>
  </div>
</div>

<div class="partner_slider">
  <div class="container">
    <div class="arrow_slider">
      <div class="slide">
        <img src="img/slider/partners/1.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/3.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/2.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/4.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/5.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/6.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/4.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/1.png" alt="">
      </div>
      <div class="slide">
        <img src="img/slider/partners/5.png" alt="">
      </div>
    </div>
  </div>
</div>