<div class="breadcrumbs">
    <div class="container">
        <a href="./">Главная</a>
        <a href="./catalog.html">Электрощитовое оборудование</a>
        <a href="javascript:void(0);">Корпуса пластиковые навесные КМПн, IP30</a>
    </div>
</div>
<div class="container content page_title">
    <h1>Корпуса пластиковые навесные КМПн, IP30</h1>
</div>
<div class="container">
    <div class="grid sidebar_page listing_page">
        <div class="o-fourth">
            <div class="content sidebar">
                <div class="filter">
                    <div class="filter_title">Соседние марки</div>
                    <ul class="links">
                        <li>
                            <a href="./listing.html">Корпуса пластиковые ЩРН(В)-П, IP41</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса пластиковые навесные КМПн, IP55</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса пластиковые навесные КМПн, IP66</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса для установки счетчиков ЩУРн-П IP55</a>
                        </li>
                        <li>
                            <a href="./listing.html">Панели для установки счетчика ПУ</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса полиэстерные ЩУ и ЩМП IP54</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса щитов с металлической дверцей, КМПв IP30</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты распределительные ЩРв(н)</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты распределительные ЩРв(н) "UNIVERSAL"</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты распределительные ЩРв(н) "LIGHT"</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты учетно-распределительные ЩУРв(н)</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты учетно-распределительные ЩУРв(н) "LIGHT"</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты учетные ЩУ</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса щитов этажных ЩЭ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="t-fourth">
            <div class="grid main_content">
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d1.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 1/2 на 2 модуля навесной 125х44х58 IP20</a>
                        <div class="code">Артикул: MKP31-N-02-30-252</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-check"></i> В наличии на складе
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d2.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 1/4 на 4 модуля навесной 125х79х58 IP20</a>
                        <div class="code">Артикул: UKT10-063-040-000</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-check"></i> В наличии на складе
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d4.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 2/2 на 2 мод. прозр. крышка навесной 140х53х83 IP30</a>
                        <div class="code">Артикул: UKT10-063-040-000</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-clock"></i> Срок поставки 7 дней
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d3.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 2/4 на 4 мод. прозр. крышка навесной 140х98х83 IP30</a>
                        <div class="code">Артикул: MKP31-N-02-30-252</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-check"></i> В наличии на складе
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d5.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 2/6 на 6 мод. прозр. крышка навесной 140х130х83</a>
                        <div class="code">Артикул: MKP31-N-02-30-252</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-check"></i> В наличии на складе
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d6.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 2/9-1 на 9 мод. прозр. крышка навесной 180х188х90</a>
                        <div class="code">Артикул: MKP31-N-02-30-252</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-check"></i> В наличии на складе
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="product_tail">
                    <div class="tail_content">
                        <a href="./product.html" class="image">
                            <img src="img/demo/d6.jpg" alt="">
                        </a>
                        <a href="./product.html" class="name">Бокс КМПн 2/9-2 на 9 мод. прозр. крышка навесной 180х188х96</a>
                        <div class="code">Артикул: MKP31-N-02-30-252</div>
                        <div class="action">
                            <a href="#cart-popup" class="show-popup btn btn-warning" data-effect="mfp-zoom-in">Добавить в корзину</a>
                        </div>
                        <div class="stock">
                            <i class="icon-check"></i> В наличии на складе
                        </div>
                        <div class="divider"></div>
                        <ul class="additional_info">
                            <li>
                                <span class="key">Производитель:</span>
                                <span class="value">IEK</span>
                            </li>
                            <li>
                                <span class="key">Вид установки:</span>
                                <span class="value">наружный</span>
                            </li>
                            <li>
                                <span class="key">Степень защиты:</span>
                                <span class="value">IP20</span>
                            </li>
                            <li>
                                <span class="key">Материал корпуса:</span>
                                <span class="value">полистирол</span>
                            </li>
                            <li>
                                <span class="key">Цвет:</span>
                                <span class="value">белый RAL 9001/9010</span>
                            </li>
                            <li>
                                <span class="key">Количество модулей:</span>
                                <span class="value">2</span>
                            </li>
                            <li>
                                <span class="key">Ширина:</span>
                                <span class="value">44мм</span>
                            </li>
                            <li>
                                <span class="key">Высота:</span>
                                <span class="value">125мм</span>
                            </li>
                            <li>
                                <span class="key">Глубина:</span>
                                <span class="value">58мм</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>