<div class="breadcrumbs">
    <div class="container">
        <a href="./">Главная</a>
        <a href="./catalog.html">Изделия для монтажа електропроводки</a>
        <a href="./listing.html">Коробки распределительные</a>
        <a href="javascript:void(0);">Коробка распределительная гипсокартон KOPOS KO 97/L</a>
    </div>
</div>
<div class="container">
    <div class="grid sidebar_page product_page">
        <div class="o-fourth">
            <div class="content sidebar">
                <div class="filter">
                    <div class="filter_title">Соседние марки</div>
                    <ul class="links">
                        <li>
                            <a href="./listing.html">Корпуса пластиковые ЩРН(В)-П, IP41</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса пластиковые навесные КМПн, IP55</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса пластиковые навесные КМПн, IP66</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса для установки счетчиков ЩУРн-П IP55</a>
                        </li>
                        <li>
                            <a href="./listing.html">Панели для установки счетчика ПУ</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса полиэстерные ЩУ и ЩМП IP54</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса щитов с металлической дверцей, КМПв IP30</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты распределительные ЩРв(н)</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты распределительные ЩРв(н) "UNIVERSAL"</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты распределительные ЩРв(н) "LIGHT"</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты учетно-распределительные ЩУРв(н)</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты учетно-распределительные ЩУРв(н) "LIGHT"</a>
                        </li>
                        <li>
                            <a href="./listing.html">Щиты учетные ЩУ</a>
                        </li>
                        <li>
                            <a href="./listing.html">Корпуса щитов этажных ЩЭ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="t-fourth">
            <div class="detail_content">
                <div class="detail_hero">
                    <div class="image">
                        <img src="img/product/5.jpg" alt="">
                    </div>
                    <div class="description">
                        <div class="title">Коробка распределительная гипсокартон KOPOS KO 97/L</div>
                        <div class="code">Артикул: MKP31-N-02-30-252</div>
                        <div class="buy_block">
                            <div class="price">Цена:
                                <span>
                                    <a href="#login-popup" class="show-popup" data-effect="mfp-zoom-in">
                                        Войдите чтобы<br>  увидеть цену
                                    </a>
                                </span>
                            </div>
                            <a href="#cart-popup" class="show-popup btn btn-warning btn-lg" data-effect="mfp-zoom-in">Купить</a>
                            <div class="stock"><i class="icon-check"></i> В наличии</div>
                        </div>
                        <div class="recall">
                            <div class="text">Есть вопросы? Оставьте свой номер телефона и мы перезвоним</div>
                            <div class="form-group">
                                <input type="text" placeholder="+38 (___) ___-__-__" class="phone-mask form-control rounded">
                                <a href="#" class="btn btn-success">Позвонить мне</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_info">
                    <div class="container content page_title bg-grey tabs_panel">
                        <h1 id="tabs">
                            <span id="tab1">Другие боксы (корпуса)</span>
                            <span id="tab2">габаритные размеры</span>
                            <span id="tab3">описание</span>
                            <span id="tab4">характеристики</span>
                        </h1>
                    </div>
                    <div class="container">
                        <div class="full_page dashboard_tabs ">
                            <div id="tab1C" class="main_tab">
                                <ul class="list_tab">
                                    <li>
                                        <a href="#" class="item_name">Бокс КМПн 1/4 на 4 модуля навесной 125х79х58 IP20</a>
                                        <div class="item_code">MKP31-N-04-30-135</div>
                                        <div class="item_actions">
                                            <div class="input_wrapper">
                                                <input class="bordered rounded form-control" type="text" />
                                                <span>шт.</span>
                                            </div>
                                            <a href="#" class="btn btn-warning">Добавить к заказу</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="item_name">Бокс КМПн 2/2 на 2 мод. прозр. крышка навесной 140х53х83 IP30</a>
                                        <div class="item_code">MKP42-N-02-30-20</div>
                                        <div class="item_actions">
                                            <div class="input_wrapper">
                                                <input class="bordered rounded form-control" type="text" />
                                                <span>шт.</span>
                                            </div>
                                            <a href="#" class="btn btn-warning">Добавить к заказу</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="item_name">Бокс КМПн 2/4 на 4 мод. прозр. крышка навесной 140х98х83 IP30</a>
                                        <div class="item_code">MKP42-N-04-30-12</div>
                                        <div class="item_actions">
                                            <div class="input_wrapper">
                                                <input class="bordered rounded form-control" type="text" />
                                                <span>шт.</span>
                                            </div>
                                            <a href="#" class="btn btn-warning">Добавить к заказу</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="item_name">Бокс КМПн 2/6 на 6 мод. прозр. крышка навесной 140х130х83 IP30</a>
                                        <div class="item_code">MKP42-N-06-30-09</div>
                                        <div class="item_actions">
                                            <div class="input_wrapper">
                                                <input class="bordered rounded form-control" type="text" />
                                                <span>шт.</span>
                                            </div>
                                            <a href="#" class="btn btn-warning">Добавить к заказу</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="item_name">Бокс КМПн 2/9-1 на 9 мод. прозр. крышка навесной 180х188х96 IP31</a>
                                        <div class="item_code">MKP42-N-09-31-01</div>
                                        <div class="item_actions">
                                            <div class="input_wrapper">
                                                <input class="bordered rounded form-control" type="text" />
                                                <span>шт.</span>
                                            </div>
                                            <a href="#" class="btn btn-warning">Добавить к заказу</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="item_name">Бокс КМПн 2/9-2 на 9 мод. прозр. крышка навесной 180х188х96 IP31</a>
                                        <div class="item_code">MKP42-N-09-31-02</div>
                                        <div class="item_actions">
                                            <div class="input_wrapper">
                                                <input class="bordered rounded form-control" type="text" />
                                                <span>шт.</span>
                                            </div>
                                            <a href="#" class="btn btn-warning">Добавить к заказу</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div id="tab2C" class="main_tab">
                                <div class="no_goods">Размеры еще не указаны.</div>
                            </div>

                            <div id="tab3C" class="main_tab">
                                <div class="text_tab">
                                    <p>Боксы для установки модульных выключателей в жилых и офисных помещениях, где требуются компактные электрические распределители. Боксы серии КМПн отличает современный дизайн и обтекаемые формы, подходят к любому интерьеру.</p>
                                    <h4>Преимущества:</h4>
                                    <ul>
                                        <li>Изготовлены из самозатухающих полимеров.</li>
                                        <li>Защита от хищений электроэнергии и от несанкционированного доступа к контактной группе - бокс можно опломбировать.</li>
                                        <li>Простой и быстрый монтаж.</li>
                                        <li>Подходят для установки автоматических выключателей шириной до 18 мм.</li>
                                        <li>Простое введение кабелей через выламываемые отверстия.</li>
                                        <li>Автоматические выключатели внутри бокса прочно крепятся на встроенную DIN-рейку.</li>
                                        <li>Возможность устанавливать несколько боксов в ряд.</li>
                                    </ul>
                                </div>
                            </div>

                            <div id="tab4C" class="main_tab">
                                <div class="no_goods">Характеристики еще не указаны.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>