<footer>
  <div class="footer_content">
    <div class="container">
      <ul class="contacts">
        <li class="title">Звоните</li>
        <li class="subtitle">с 9:00 до 18:00 (пн-пт), без перерыва</li>
        <li>
          <a href="tel:+380445319645">(044) 531 96 45</a>
        </li>
        <li>
          <a href="tel:+380503848414">(050) 384 84 14</a>
        </li>
      </ul>
      <ul class="about">
        <li class="title">Карат ЛТД</li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">График работы</a></li>
        <li><a href="#">Реквизиты</a></li>
        <li><a href="#">Отзывы</a></li>
      </ul>
      <ul class="products">
        <li class="title">Продукция</li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Скачать каталог</a></li>
        <li><a href="#">Качество продукции</a></li>
        <li><a href="#">Корзина</a></li>
      </ul>
      <ul class="services">
        <li class="title">Сервисы</li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Гарантия</a></li>
        <li><a href="#">Калькулятор</a></li>
      </ul>
      <ul class="social">
        <li class="title">Мы всегда на связи!</li>
        <li class="subtitle">Вы можете <a href="mailto:mail@mail.com">написать нам письмо</a> <br>а так же найти нас в соцсетях</li>
        <li>
          <a href="#"><i class="icon-facebook-circled"></i></a>
          <a href="#"><i class="icon-twitter-circled"></i></a>
        </li>
      </ul>
      <a href="#top" class="go-top"><i class="icon-arrow-top"></i></a>
      <a href="javascript:void(0);" class="help-chat"><i class="icon-chat"></i></a>

      <div class="mobile_footer">
        <div class="nav">
          <a href="#">Акции</a>
          <a href="#">Калькулятор</a>
          <a href="#">Качество продукции</a>
          <a href="#">О компании</a>
          <a href="#">Контакты</a>
          <a href="#">Вакансии</a>
        </div>
        <div class="language">
          <a href="javascript:void(0)" class="active">Рус</a> /
          <a href="javascript:void(0)">Укр</a>
        </div>
      </div>

    </div>
  </div>
  <div class="copyright">
    <div class="container">©2017 Карат ЛТД - Электротехническая продукция в Украине.</div>
  </div>
</footer>