<header class="">
  <div class="container">

    <a href="./" class="logo"><img src="img/logo.svg" alt=""></a>

    <div class="contact dropdown overlayed">
      <span class="main_contact dropdown-switcher">
        <a href="tel:+380445319645" class="icon-phone mobile_phone"></a>
        <i class="icon-phone"></i>
        <a href="tel:+380445319645" class="phone">(044) 531 96 45</a>
        <i class="icon-arrow-bottom"></i>

        <div class="mobile_header">

          <div class="user">
            <i class="icon-user"></i>
            <span>Павел</span>
          </div>
          <a href="./cart.html" class="cart">
            <i class="icon-cart"></i>
            <span>2</span>
          </a>

        </div>

      </span>
      <div class="dropdown-content">
        <a  href="tel:+380503848414" class="phone">(050) 384 84 14</a>
        <a  href="tel:+380632621347" class="phone">(063) 262 13 47</a>
        <p>Звоните <strong>c 9:00 до 18:00 (пн-пт)</strong></p>
        <a href="mailto:mail@mail.com"><i class="icon-envelope"></i> Написать письмо</a>
      </div>
    </div>

    <nav>
      <ul>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Качество продукции</a></li>
        <li><a href="#">О компании</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Вакансии</a></li>
      </ul>
    </nav>

    <div class="language">
      <a href="#">UA</a>
      <a href="javascript:void(0)" class="active">RU</a>
    </div>



  </div>
</header> 